<div th:fragment ="login">
	<link th:href="@{/resources/css/login.css}" rel="stylesheet" type="text/css" href="../static/resources/css/login.css">
</div>

<div th:fragment ="sign-up">
	<link th:href="@{/resources/css/sign-up.css}" rel="stylesheet" type="text/css" href="../static/resources/css/sign-up.css">
</div>

<div th:fragment ="chat">
	<link th:href="@{/resources/css/main-chat.css}" rel="stylesheet" type="text/css" href="../static/resources/css/main-chat.css">
</div>

<div th:fragment ="search">
	<link th:href="@{/resources/css/search.css}" rel="stylesheet" type="text/css" href="../static/resources/css/search.css">
</div>

<div th:fragment="profile">
	<link th:href="@{/resources/css/profile.css}" rel="stylesheet" type="text/css" href="../static/resources/css/profile.css">
</div>

<div th:fragment="userlist">
	<link th:href="@{/resources/css/user-list.css}" rel="stylesheet" type="text/css" href="../static/resources/css/user-list.css">
	<link th:href="@{/resources/css/checkbox.css}" rel="stylesheet" type="text/css" href="../static/resources/css/checkbox.css">	
</div>

<div th:fragment = "frameworks">
	<link th:href="@{/resources/css/menu.css}" rel="stylesheet" type="text/css" href="../static/resources/css/menu.css">
	<link th:href="@{/resources/images/icons/favicon.ico}" rel="icon" type="image/png" href="../static/resources/images/icons/favicon.ico"/>
	<link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link th:href="@{/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" href="../static/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link th:href="@{/resources/vendor/animate/animate.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/animate/animate.css">
	<link th:href="@{/resources/vendor/select2/select2.min.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/select2/select2.min.css">
	<link th:href="@{/resources/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link th:href="@{/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" rel="stylesheet" type="text/css" href="../static/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link  th:href="@{/resources/fonts/iconic/css/material-design-iconic-font.min.css}" rel="stylesheet" type="text/css" href="../static/resources/fonts/iconic/css/material-design-iconic-font.min.css">
	<link th:href="@{/resources/vendor/animsition/css/animsition.min.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/animsition/css/animsition.min.css">
	<link th:href="@{/resources/vendor/daterangepicker/daterangepicker.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/daterangepicker/daterangepicker.css">
	<link th:href="@{/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" rel="stylesheet" type="text/css" href="../static/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link th:href="@{/resources/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" type="text/css" href="../static/resources/vendor/css-hamburgers/hamburgers.min.css">
	<link th:href="@{/resources/css/util.css}" rel="stylesheet" type="text/css" href="../static/resources/css/util.css">
</div>