c<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Group creation</title>
		<div th:replace="fragments/link :: frameworks"></div>
    	<div th:replace="fragments/link :: userlist"></div>
    	<div th:replace="fragments/link :: profile"></div>			
	</head>
	<body>	
	<div class="main row">
	    <!-- MENU -->
			<div class="sidebar-menu col-md-3" th:include="menu :: menu" th:with="tempName='groupcreation'"></div>	
		<!-- /MENU -->
		<div class="col-9 py-5">
			<header class="text-center">
				    <h1 class="display-4 text-white">INBOX - GROUP CREATION</h1>
				    <p class="text-white lead mb-0 py-2">All together against loneliness</p>
			</header>
			
			<div class="container mt-5 mb-5">
				<div class="big-box">
				<form  method="post" role="form" id="form" th:action="@{/create-group}" th:object="${form}">
					<label class="pb-4 pt-2 pl-4 group-name" for="name">
                       Group Name :
                       <span>
                      	  <input type="text"
                             	name="groupName" id="groupName"  required>
                        </span>
					</label>
					<label class="pb-4 pt-2 pl-4 group-name" for="description">
                       Group Description :
                       <span>
                      	  <input type="text"
                             	name="groupDescription" id="groupDescription"  required>
                        </span>
					</label>
					<button  class="btn btn-secondary btn-b">
						<i class="fa fa-paper-plane-o" id="submit_btn" aria-hidden="true"></i>
					</button>
					<input type= "submit" id="submit" value="Upload Image"/>
					
					<table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>						
						<th>Email</th>
						<th>Roles</th>
						<th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td  th:text="${user.userId}">1</td>
                        <td><a th:href="@{/profile/{id}(id=${user.userId})}">
                        	<img th:src="${'/resources/users_images/' + user.informations.profileImagePath}" 
                        		 class="avatar" alt="Avatar">
                        		<span th:text="${#strings.capitalize(user.firstname)} + '  ' + ${#strings.capitalize(user.name)}">
                        			 Any und Michael bauen ein Web-App
                        		</span>
                        	</a>
                        </td>
                        <td  th:text="${user.email}">boss@mail.abc</td>                        
                        <td  th:text="${user.roles}">Admin</td>
						<td>
							<div class="contact100-form-checkbox">
								<input class="input-checkbox100 none" th:id="${user.userId}"
								 th:name ="idChecked" th:value="${user.userId}" type="checkbox" >
								<label th:if="${!(auth.userId.equals(user.userId))}" class="label-checkbox100" th:for="${user.userId}">
								</label>
							</div>					
						
						</td>
                    </tr>
					
                </tbody>
            </table>
				</form>
				</div>
			</div>
			
		</div>	
	</div>
<!--===============================================================================================-->	
	<script th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}" src="/resources/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script th:src="@{/resources/vendor/bootstrap/js/popper.js}" src="/resources/vendor/bootstrap/js/popper.js"></script>
	<script th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}" src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script th:src="@{/resources/vendor/select2/select2.min.js}" src="/resources/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script th:src="@{/resources/js/profile.js}" src="js/profile.js"></script>
	
	</body>
</html>